In [1]:
import os
from huggingface_hub import hf_hub_download

In [2]:
import numpy as np

In [3]:
local_model_directory="D:\Python\AI_POC\AI_POC2" # mention the localtion where you want to save the model

In [4]:
from transformers import pipeline

In [5]:
pipe = pipeline("text-generation", model=local_model_directory)

In [6]:
from transformers import AutoTokenizer, AutoModelForCausalLM

tokenizer = AutoTokenizer.from_pretrained(local_model_directory)
model = AutoModelForCausalLM.from_pretrained(local_model_directory)

In [7]:
table_schema = """CREATE TABLE stadium (
    stadium_id number,
    location text,
    name text,
    capacity number,
    highest number,
    lowest number,
    average number
)

CREATE TABLE singer (
    singer_id number,
    name text,
    country text,
    song_name text,
    song_release_year text,
    age number,
    is_male others
)

CREATE TABLE concert (
    concert_id number,
    concert_name text,
    theme text,
    stadium_id text,
    year text
)

CREATE TABLE singer_in_concert (
    concert_id number,
    singer_id text
)
"""

question = "What is the maximum, the average, and the minimum capacity of stadiums ?"

prompt = f"""{table_schema}

-- Using valid SQLite, answer the following questions for the tables provided above.

-- {question}

SELECT"""

In [8]:
input_ids = tokenizer(prompt, return_tensors="pt").input_ids
generated_ids = model.generate(input_ids, max_length=500)
output = tokenizer.decode(generated_ids[0], skip_special_tokens=True)
output = 'SELECT' + output.split('SELECT')[-1]

print(output)

C:\ProgramData\Anaconda4\lib\site-packages\transformers\generation\utils.py:1518: UserWarning: You have modified the pretrained model configuration to control generation. This is a deprecated strategy to control generation and will be removed soon, in a future version. Please use and modify the model generation configuration (see https://huggingface.co/docs/transformers/generation_strategies#default-text-generation-configuration )
  warnings.warn(

SELECT MAX(capacity), AVG(capacity), MIN(capacity) FROM stadium;

In [9]:
def new_question(p_question):
 

  prompt = f"""{table_schema}
  -- Using valid SQLite, answer the following questions for the tables provided above.
  -- {p_question}
  SELECT"""
  input_ids = tokenizer(prompt, return_tensors="pt").input_ids
  generated_ids = model.generate(input_ids, max_length=500)
  output = tokenizer.decode(generated_ids[0], skip_special_tokens=True)
  output = 'SELECT' + output.split('SELECT')[-1]
  return output
  print(output)

In [10]:
new_question('how many total concerts')

'SELECT COUNT(*) FROM concert;'

In [11]:
new_question('how many total singers')

'SELECT COUNT(*) FROM singer;'

In [12]:
new_question('tell us stadium with highest concerts')

'SELECT T1.location FROM stadium AS T1 JOIN concert AS T2 ON T1.stadium_id = T2.stadium_id GROUP BY T1.location ORDER BY SUM(T2.concert_id) DESC LIMIT 1;'

In [13]:
new_question('how many total singers')

'SELECT COUNT(*) FROM singer;'

In [14]:
new_question('how many total singers from India')

'SELECT COUNT(*) FROM singer WHERE country = "India";'

In [15]:
table_schema = """CREATE TABLE ENTRY_EXIT_DETAILS (
    SPM_PERSON_NO number,
    PASSENGER_NATIONALITY TEXT,
    ENTRY_EXIT_FLAG text,
    ENTRY_EXIT_DATE DATE,
    PASSENGER_TYPE TEXT,
    AIRPORT_CODE TEXT,
    FLIGHT_NUMBER TEXT
)

CREATE TABLE nationalities (
    nationality_code number,
    Nationality_description text
)

create table passengers  
(
PERSON_NO number,
person_name text,
nationality_description text)
"""

question = "What is the maximum, the average, and the minimum capacity of stadiums ?"

prompt = f"""{table_schema}

-- Using valid SQLite, answer the following questions for the tables provided above.

-- {question}

SELECT"""

In [16]:
new_question('Total passengers count from entry exit details')

'SELECT SUM(T1.COUNT) FROM ENTRY_EXIT_DETAILS AS T1 JOIN passengers AS T2 ON T1.PASSENGER_NO = T2.PERSON_NO;'

In [17]:
new_question('entry exit details of person no 1237614')

'SELECT * FROM ENTRY_EXIT_DETAILS WHERE PERSON_NO = 1237614;'

In [18]:
new_question('Nationality of person no 1237614')

'SELECT nationality_description FROM nationalities WHERE nationality_code = "1237614";'

In [19]:
new_question('passenger name of person number 1237614')

'SELECT person_name FROM passengers WHERE PERSON_NO = 1237614;'